.esquema{

    height: 58vh;
    overflow: scroll;
    width: 95%;
}

.correlacional{
    height: 55vh;
}

.varianza{
    height: auto;
}

.histogramFlex{
    display: flex;
    overflow: scroll;
    width: 95%;
}
