.esquema{

    height: 40vh;
    overflow: scroll;
    width: 95%;
}

.correlacional{
    height: 55vh;
}

.varianza{
    height: auto;
}

.flexChart{
    display: flex;
    height: 40vh;
    overflow: scroll;
    width: 95%;
}

.flexChartChildren{
    width: 45% ;
    flex-wrap: wrap;
}
